@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PayPal Sans Big Regular";
    src: url("./fonts/PayPalSansBigRegular/PayPalSansBigRegular.ttf");
}
body {
    font-family: "Paypal Sans Big Regular", sans-serif;
    font-size: 16px;
}